# Miscellaneous
*.class
*.log
*.pyc
*.swp
*.tmp
*.bak
*.orig
*.sublime-workspace
*.sublime-project
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IDEs and Editors
*.iml
*.ipr
*.iws
.idea/
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/
.metadata

# Flutter build outputs for all platforms
/android/app/debug
/android/app/profile
/android/app/release
/linux/build/
/windows/build/
./macos/build/
/web/build/
/android/app/google-services.json
# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Sensitive Files
.env
google-services.json
constants.dart
firebase_options.dart
ios/Runner/GoogleService-Info.plist
android/app/src/main/res/values/strings.xml

# Flutter Keys
*.keystore
*.jks

# Firebase and Debug
.firebase/
firebase-debug.log
firebase.json

# Node.js related
node_modules/
package-lock.json
yarn.lock

# Pubspec lock file
pubspec.lock

# Cache files
*.lock

# Android build files
android/key.properties
android/local.properties
android/app/build/
android/app/src/main/assets/flutter_assets/
android/app/src/main/assets/flutter_service_worker.js
android/app/src/main/assets/flutter_service_worker.js.map
android/app/src/main/assets/flutter_web_entrypoint.js
android/app/src/main/assets/flutter_web_entrypoint.js.map
android/app/src/main/assets/flutter_web_entrypoint.dart
android/app/src/main/assets/flutter_web_entrypoint.dart.map
android/app/src/main/assets/flutter_web_entrypoint.dart.js
android/app/src/main/assets/flutter_web_entrypoint.dart.js.map
android/app/src/main/assets/flutter_web_entrypoint.dart.js.metadata
android/app/src/main/assets/flutter_web_entrypoint.dart.js.metadata.json
android/app/src/main/assets/flutter_web_entrypoint.dart.js.map

# iOS build files
ios/Pods/
ios/Podfile.lock
ios/Podfile
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/FlutterPluginRegistrant.framework
ios/Flutter/FlutterPluginRegistrant.podspec


/google-services.json
app/google-services.json


apphosting.local.yaml

pubspec.lock

packages/flutter_tools/gradle/bin/main/app_plugin_loader.groovy
packages/flutter_tools/gradle/bin/main/flutter.groovy
scr/flutter_windows_3.24.5-stable/flutter/packages/flutter_tools/gradle/bin/main/native_plugin_loader.groovy